.form {
  &__input-wrap {
    margin-bottom: 16px;
    svg {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__input {
    width: 100%;
    border: 2px solid rgba(255, 2555, 255, 0.3);
    background-color: transparent;
    font-weight: var(--fb-med);
    font-size: 18px;
    line-height: 1.1;
    color: #ffffff;
    padding: 20px 20px 20px 50px;
    &::placeholder {
      font-weight: var(--fb-med);
      font-size: 18px;
      line-height: 1.1;
      color: #ffffff;
      opacity: 0.7;
    }
  }
  &__label {
    position: relative;
    padding-left: 35px;
    display: block;
    span {
      font-weight: var(--fb-med);
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  &__input-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    & + span {
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      display: inline-block;
      border-radius: 2px;
      svg {
        display: none;
      }
    }
    &:checked {
      & + span {
        border: none !important;
        svg {
          display: block;
        }
      }
    }
  }
  &__button-wrap {
    text-align: center;
  }
  button {
    margin-top: 55px;
  }
}
.form-success {
  text-align: center;
}

@media (min-width: 767px) {
  .form {
    &__label {
      max-width: 700px;
      margin-top: 20px;
      span {
        font-size: 20px;
      }
    }
  }
}
