.header {
  width: 100%;
  max-width: 1920px;
  position: fixed;
  top: 0;
  left: auto;
  background: #2e5940;
  z-index: 1000;
  min-width: 375px;
  &__inner {
    display: flex;
    align-items: center;
    padding: 0 25px;
  }
  &__phone {
    font-weight: var(--fw-med);
    font-size: 20px;
    color: #ffffff;
    margin-left: 70px;
    display: none;
  }
}
.logo {
  a {
    display: block;
    svg {
      position: relative;
      top: 4px;
    }
  }
}

@media (min-width: 576px) {
  .header {
    &__phone {
      display: block;
    }
  }
}
