.gallery {
  .swiper-horizontal > .swiper-scrollbar {
    bottom: 0;
  }
}

@media (min-width: 576px) {
  .gallery {
    .swiper,
    .swiper-wrapper,
    .swiper-slide {
      height: 400px !important;
    }
  }
}

@media (min-width: 991px) {
  .gallery {
    .swiper,
    .swiper-wrapper,
    .swiper-slide {
      height: 500px !important;
    }
  }
}
