.footer {
  background-color: var(--accent-dark-color);
  &__inner {
    display: flex;
    flex-direction: column-reverse;
  }
  .container {
    padding: 25px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 991px) {
  .footer {
    &__inner {
      flex-direction: row;
      align-items: center;
    }
    .map-wrap {
      width: 50%;
    }
    .container {
      width: auto;
    }
    .info {
      display: block;
    }
  }
}
